:root {
  --primary-color: #1c1c24;
  --secondary-color: #0d0d0f;
}

body {
  font-family: "Playfair", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--secondary-color);
  text-align: start;
}

p {
  font-weight: 500;
  color: var(--primary-color);
  line-height: 1.8;
}

.italic {
  font-family: "Playfair", serif;
  font-style: italic;
}

.upperSection {
  height: 60vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.lowerSection {
  background-color: #f6f2f1;
  padding: 1vw 16vw;
}

.ownersImage {
  object-fit: contain;
}

.bannerImageSection {
  background-image: url("bannerImage.jpeg");
  background-position: center;
  height: 600px;
  width: 100%;
}

.missionVideoSection {
  padding: 5vw 10vw;
  background-color: #fefefe;
}

.testimonialSection {
  background-color: #f6f2f1;
  padding: 5vw 10vw;
}

.contactSection {
  background-color: #fefefe;
  padding: 5vw 10vw;
}

.testimonial {
  border: 1px solid #ddd;
  padding: 2vw;
  border-radius: 8px;
  background-color: #fff;
}

.contactForm {
  max-width: 500px;
  margin: 0 auto;
}

.contactForm input,
.contactForm textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contactForm button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.contactForm button:hover {
  background-color: #353536;
}
